body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

#controller {
    width: 75vw;
    height: 60vh;
}

#rear {
    width: 25vw;
    height: 60vh;
}


iframe {
    border: 0;
}

#top-contents {
    display: flex;
}

#front {
    height: 40vh;
}
