body {
    margin: 0;

    background: #010101;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

#led-container {

    width: 88vw;

    display: grid;

    grid-template-columns: repeat(160, 0.55vw);
    grid-row-gap: 0.06vw;

    grid-auto-rows: 0.55vw;

    background-color: #101010;
}

.led-segment {
    display: flex;
    background-color: #202020;

    justify-content: center;
    align-items: center;
}

.led {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 1vw;

    display: block;
    width: 0.33vw;
    height: 0.33vw;
}

.led-on {
    background-color: orange;
}

.led-off {
    background-color: #606060;
}
