body {
    background-color: #202020;

    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
}

#content {
    display: flex;
    flex-direction: row;
    width: 100vw;

    justify-content: center;
}

#content > * {
    margin-left: auto;
    margin-right: auto;
}

.controller-section {
    width: 45vw;
    display; block;
    border: 0.6vw solid #B1B1B1;
    border-radius: 2vw;
}

#output-section {
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#output-screen {
    width: 30vw;
    height: 6vw;

    background-color: #7AA230;
    font-family: monospace;

    display: flex;
    flex-direction: column;
    font-size: 2.3vw;

    justify-content: center;
}

#output-screen > * {
    margin-left: 1vw;
    margin-right: 1vw;
}

#keypad-section {
    height: 35vw;
    width: 45vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#keypad-container {
    display: grid;
    grid-template-columns: repeat(4, 7.5vw);
    grid-gap: 0.6vw;
    grid-auto-rows: 7.5vw;

    color: white;

    font-size: 3vw;
    font-family: Roboto
}

#keypad-container > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.keypad-number {
    background-color: #E66A1A;
    border: 0.5vw solid #EA831D;
    border-radius: 0.4vw;
}

.keypad-function {
    background-color: transparent;
    border: 0.5vw solid #EAE23D;
    border-radius: 0.4vw;
}

.keypad-arrow {
    background-color: #C5BC15;
    border: 0.5vw solid #EAE23D;
    border-radius: 0.4vw;
}

#keypad-clr {
    background-color: transparent;
    border: 0.5vw solid #EA553D;
    border-radius: 0.4vw;
}

#keypad-ent {
    background-color: transparent;
    border: 0.5vw solid #21851E;
    border-radius: 0.4vw;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;

  border-bottom: 1.5vw solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;

  border-top: 1.5vw solid black;
}
